.Header {
    &__First-Row {
      &__Second-Column {
        &__Ul {
          &--list-unstyle {
            list-style: none;
          }
  
          &__Li {
            &__Anchor {
              border-bottom-width: 4px !important;
              border-bottom-style: solid !important;
              border-bottom-color: transparent;
              padding-bottom: 8px;
  
              &--active {
                border-bottom-color: white;
              }
  
              &:hover {
                text-decoration: none;
                border-bottom-color: grey !important;
              }
            }
          }
        }
      }
    }
  
    &__Second-Row {
      background-color: green;
    }
  }
  
  
  .Footer {
    background-color: red;
  }