#two{
    display: flex;
    
}

#image{
    height:100%;
    color:white;
    background-image: url('https://images.unsplash.com/photo-1570297780229-1125995349ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size:cover;
    
    justify-content: center;
    
}
#button-one{
    border-radius:10px;
}
#button-two{
    border-radius:10px;
}
#sign{
    display: none;
}
#image2{
    height:100%;
    color:white;
    background-image:url('https://images.unsplash.com/photo-1570557237290-0f3a3dfd917c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size:cover;
    justify-content:center; 
}
