#one-div{
    background-color:rgb(119, 245, 119);
    height:1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    
}
section{
    height:500px;
    width:60%;
    display: flex;
    
    
    
}
#two-div{
    background-color:white;
    height:500px;

    width:90%;
        

}
#three-div{
    
    background-color:lightgrey;
    height:50px;
    width:70%;
    
    margin:50px;
    display:flex;
    flex-direction: row;
    align-items:center;
}
#four-div{
    
    background-color:lightgrey;
    height:50px;
    width:70%;
    margin:50px;
    display:flex;
    flex-direction: row;
    align-items:center;

}
#five-div{
    
    background-color:lightgreen;
    height:50px;
    width:70%;
    margin:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

}


